{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Chamar o CSS pelo caminho correto -->
    <link rel="stylesheet" href="{% static 'CSS/home/left_menu.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Adicione este estilo para ajustar o conteúdo quando a sidebar estiver visível */
        .with-sidebar {
            padding-left: 0px; /* Ajuste este valor conforme necessário */
        }
    </style>
</head>
<body>
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="sidebar">
      <div class="profile">
          <img src="{% static 'IMG/home/profile.jpg' %}" alt="Profile Picture" class="profile-img">
          <div class="profile-info">
            <p class="username">Nome do Usuário</p>
              <!-- Outras informações do perfil se necessário -->
          </div>
      </div>
      <ul>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Reports</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Help</a></li>
      </ul>
  </div>
  

    <div class="content with-sidebar">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <img src="{% static 'IMG/home/ufvjm.png' %}" class="profile-img2">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
 
                </div>
            </div>
        </nav>
        <!-- Seu conteúdo da página aqui -->
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <!-- Chamar o JavaScript pelo caminho correto -->
    <script src="{% static 'js/left_menu.js' %}"></script>
   
</body>
</html>
