{% extends "base/base.html" %}
{% block content %}
<h2>Certificados</h2>
{% if certificados %}
    <ul>
        {% for certificado in certificados %}
        <li>{{ certificado.nome_evento }} - {{ certificado.data_envio }} - {{ certificado.estudante.username }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhum certificado enviado ainda.</p>
{% endif %}
<h3>Enviar Novo Certificado</h3>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar</button>
</form>
{% endblock %}
