@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Tela de Login */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047;
    background-color: #000000;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.formLogin {
    width: 300px; /* Ajuste conforme necessário */
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
}

.form-group {
    margin-bottom: 20px;
}

.formLogin h1 {
    margin: 0 0 20px 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    margin-bottom: 25px;
    font-size: 14px;
    color: #666;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 160ms;
    outline: none;
}

.formLogin input:focus {
    border-color: #0768FB;
}

.formLogin label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}

.btn {
    background-color: #0768FB;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 160ms;
    padding: 12px 20px;
    border-radius: 4px;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #0056b3; /* Cor mais escura ao hover */
}

.formLogin input[type="text"],
.formLogin input[type="password"] {
    width: 80%; /* Defina a largura desejada aqui */
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}
